.perfil button {
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    }
  
    .button1 {
      background-color: #008CBA;  
      padding: 10px 10px;
    }
  
    .button2 {
      background-color:  #ef6361;
      padding: 10px 20px;
    }  